* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Reset default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styles */
body {
    background-color: #6fda73;
    background-image: url(carbon.webp);
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5; /* Light grey background */
    color: #333; /* Dark grey text color */
    line-height: 1.6;
}


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(181, 181, 181, 0.573);
    backdrop-filter: blur(10px);
    height: 80px;
    z-index: 2000;
}



.logo{
    color:#edecec;


}

nav a {
    text-decoration: none; /* 移除链接的下划线 */
    color: #f2f2f2;
    font-weight: 600;
    font-size: 19px;
    transition: 300ms;
    padding: 8px 16px;
    border-radius: 99px;
}

.user-form-group a{
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 19px;

}

.signup{
    border: rgba(255, 255, 255, 0.5) 2px solid;
    padding: 8px 16px;
    margin-left: 16px;
    border-radius: 99px;
    transition: 300ms;
}

.signup:hover{
    background: white;
    color: gray;
}

.login{
    border: rgba(255, 255, 255, 0.5) 2px solid;
    padding: 8px 16px;
    margin-left: 16px;
    border-radius: 99px;
    transition: 300ms;
}

.login:hover{
    background: white;
    color: gray;
}

.nav{
    display: flex;
    margin-right: 16px;
}

.nav a:hover{
    background-color: rgba(181, 181, 181, 0.573);
}

.nav .logo{
    display: none;
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: #fff; /* White section background */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

footer {
    background-color: #34495e; /* Dark blue footer background */
    color: #fff; /* White text color */
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.dashboard-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.carbon-footprint-chart {
    margin-bottom: 20px;
}

.error-message {
    color: red;
    font-weight: bold;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #2ecc71; /* Green submit button background */
    color: #fff; /* White text color */
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #27ae60; /* Darker green on hover */
}
